{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5">
        <h1>Ma commande</h1>

        choix de mon adresse de livraison<br/>
        {{ form(deliverForm)}}
        choix du transporteur

    </div>

{% endblock %}

