{% extends 'base.html.twig' %}



{% block body %}
    <div class="container my-5 text-center">
        <img src="/assets/img/sac-de-courses.png" alt="commande confirmée">
        <h1>Merci pour votre commande</h1>

        <a href="" class="btn btn-success mt-4"> Consulter ma commande</a>
    </div>
{% endblock %}
